@model UserPostRatingViewModel
@{
    ViewBag.Title = "Create";
    Layout = "_Layout";
}

<h2>Create Post</h2>
<form asp-action="CreateSubmit">
    <label>Title</label>
    <input type="text" asp-for="Post.Title" >
    <label>Body</label>
    <input type="text" asp-for="Post.Body" >
    <button>Submit</button>
</form>