@model UserPostRatingViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "_Layout";
}

<h2>Edit Post</h2>
<div class="w-100 d-flex justify-content-center">
    <form class="w-25" asp-action="EditSubmit">
        <input type="text" asp-for="Post.Id" value="@Model.Post.Id" hidden>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label>Title</label>
            <input type="text" asp-for="Post.Title" value="@Model.Post.Title" class="w-100" required>
        </div>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label>Body</label>
            <textarea type="text" asp-for="Post.Body" value="@Model.Post.Body" class="w-100" required></textarea>
        </div>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label>Accessibility</label>
            <select asp-for="Post.Accessibility" class="w-100" required>
                @if(Model.Post.Accessibility == 0)
                {
                    <option selected value="0">Public</option>
                }
                else
                {
                    <option value="0">Public</option>
                }
                @if(Model.Post.Accessibility == 1)
                {
                    <option selected value="1">Followers</option>
                }
                else
                {
                    <option value="1">Friends Only</option>
                }
                @if(Model.Post.Accessibility == 2)
                {
                    <option selected value="2">Private</option>
                }
                else
                {
                    <option value="2">Private</option>
                }
            </select>
        </div>
        <div class="d-flex">
            <button class="btn btn-primary w-100">Submit</button>
            <button asp-controller="Post" asp-action="DeleteSubmit" asp-route-id="@Model.Post.Id" class="btn btn-danger w-100">Delete</button>
        </div>
    </form>
</div>
