@model UserPostRatingViewModel
@{
    ViewBag.Title = "Feed";
    Layout = "_Layout";
}

<h2>Feed</h2>
<div class="w-100 d-flex justify-content-center">
    <a class="btn btn-primary w-25" asp-controller="Post" asp-action="Create">Create Post</a>
</div>

@Html.Partial("_PostList")