@model UserPostRatingViewModel
@{
    ViewBag.Title = "ShowPost";
    Layout = "_Layout";
}

<h2>Show Post</h2>
<div class="w-100 d-flex justify-content-center">
    <form class="w-25" asp-action="CreateSubmit">
        <div class="mb-3 d-flex flex-column align-items-start">
            <label>Title</label>
            <input type="text" asp-for="Post.Title" value="@Model.Post.Title" class="w-100" disabled>
        </div>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label>Body</label>
            <textarea type="text" asp-for="Post.Body" value="@Model.Post.Body" class="w-100" disabled></textarea>
        </div>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label>Accessibility</label>
            <select asp-for="Post.Accessibility" class="w-100" disabled>
                @if (Model.Post.Accessibility == 0)
                {
                    <option selected value="0">Public</option>
                }
                else
                {
                    <option value="0">Public</option>
                }
                @if (Model.Post.Accessibility == 1)
                {
                    <option selected value="1">Friends Only</option>
                }
                else
                {
                    <option value="1">Friends Only</option>
                }
                @if (Model.Post.Accessibility == 2)
                {
                    <option selected value="2">Private</option>
                }
                else
                {
                    <option value="2">Private</option>
                }
            </select>
        </div>
    </form>
</div>