@model UserPostRatingViewModel
@{
    ViewBag.Title = "ShowPost";
    Layout = "_Layout";
}

<h2>Show Post</h2>
<div class="w-100 d-flex justify-content-center">
    <form class="w-25">
        <div class="mb-3 d-flex flex-column align-items-start">
            <label>Title</label>
            <input type="text"  value="@Model.Post.Title" class="w-100" disabled>
        </div>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label>Body</label>
            <textarea type="text" class="w-100" disabled>@Model.Post.Body</textarea>
        </div>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label>Accessibility</label>
            <select class="w-100" disabled>
                @if (Model.Post.Accessibility == 0)
                {
                    <option selected value="0">Public</option>
                }
                else
                {
                    <option value="0">Public</option>
                }
                @if (Model.Post.Accessibility == 1)
                {
                    <option selected value="1">Followers Only</option>
                }
                else
                {
                    <option value="1">Followers Only</option>
                }
                @if (Model.Post.Accessibility == 2)
                {
                    <option selected value="2">Private</option>
                }
                else
                {
                    <option value="2">Private</option>
                }
            </select>
        </div>
        @if(((User)ViewData["User"]).Id == Model.Post.UserId){
            <a asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Post.Id" class="w-100 btn btn-primary">Edit</a>
        }
    </form>
</div>