@model UserPostRatingViewModel
@{
    ViewBag.Title = "Followers";
    Layout = "_Layout";
}

<div class="w-full">
    <h1 class="text-4xl font-bold text-gray-900 dark:text-white items-center">Followers</h1>
</div>

@Html.Partial("_UserList")